* {
  font-family: 'Noto Sans KR', sans-serif;
}

/* 상하 중앙정렬방법
position: absolute;
top: 50%;
margin-top: -170px;
마진탑 : 컨탠츠 높이의 50% px
*/
.wrap_cnts {
  width: 1000px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  min-width: 1000px;
  /* font-family: 'Nanum Gothic', sans-serif; */
}

/* header */
.header {
  background-color: #171717;
}

div.nav {
  height: 80px;
  display: flex;
  margin: auto;
  align-items: center;
}

/*
div .logo {
  display: inline;
  line-height: 96px;
} 상하중앙정렬방법  디스플레이 인라인-블락 라인헤이트를 부모와 동일한 높이값으로
*/
div .logo_hearder img {
  width: 180px;
}

/* top */
.top-background {
  height: 90vh;
  background-image: url("../img/topbackground.png");
  background-size: cover;
  background-position: center;
  display: flex;
  margin: auto;
  align-items: center;
}

.cnts_install {
  height: 100%;
  margin-left: 50%;
  margin-right: 5%;
}

.intro {
  margin-bottom: 36px;
}

.logo_top img {
  width: 100%;
}

.logo_top {
  margin-bottom: 12px;
}

.logo_description {
  font-size: 25px;
  color: white;
  text-align: center;
  letter-spacing: 20px;
}

.download {
  text-align: center;
}

/* .download li{
  height: 56px;
} */
.download li {
  margin-top: 8px;
  flex: 1;
  border-radius: 8px;
}

.download a {
  display: inline-block;
  width: 100%;
  height: 62px;
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
}

.down_widows {
  background-color: #00E7A1;
}

.down_phone {
  display: flex;
}

.down_android {
  margin-right: 4px;
  background-image: url("../img/badge_googleplay.png");
  background-size: cover;
}

.down_ios {
  margin-left: 4px;
  background-image: url("../img/badge_appstore.png");
  background-size: cover;
}

.card_1 {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: #171717;
  background-image: url("../img/card1.png");
  background-size: cover;
  background-position: center;
}

.cnts_card_1 {
  position: absolute;
  top: 43%;
  margin-top: -90px;
}

.cnts_card_1 h2 {
  font-size: 74px;
  font-weight: 100;
  letter-spacing: -5px;
  color: white;
  margin-bottom: 30px;
  line-height: 95px;
}

.desc {
  font-size: 18px;
  letter-spacing: -1px;
  color: #919191;
  line-height: 28px;
}


.card_2 {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: #1F1F1F;
  background-image: url("../img/card2.png");
  background-size: cover;
  background-position: center;
}

.cnts_card_2 {
  position: absolute;
  top: 39%;
  margin-top: -90px;
  left: 50%;
}

.cnts_card_2 h2 {
  font-size: 74px;
  font-weight: 100;
  letter-spacing: -5px;
  color: white;
  margin-bottom: 30px;
  line-height: 95px;
}

.card_3 {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: #171717;
  background-image: url("../img/card3.png");
  background-size: cover;
  background-position: center;
}
.card_4 {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: #1F1F1F;
  background-image: url("../img/card4.png");
  background-size: cover;
  background-position: center;
}

/* youtube */
.youtube {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.youtube iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
